version: '3.8'

services:
  back-end:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    ports:
      - "5252:5252"  # Expose port 5252 for Flask
    container_name: softy-pinko-back-end

  front-end:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    ports:
      - "9000:80"  # Map Nginx port 80 to host port 9000
    container_name: softy-pinko-front-end
    depends_on:
      - back-end  # Ensures the backend starts before the frontend
